body {
  background-color: #1B3764;
}
#root{
  position: absolute;
  left: 4.86%;
  right: 4.86%;
  top: 38px;
}
.left_menu{
  display: flex;
  gap: 11px;
  float: left;
}
ul{
  list-style-type: none;
  
}

li{
  display: inline-block;
}

.Sptites{
  background: #FFFFFF;
  border: 10px solid #FFFFFF;
  box-sizing: border-box;
}
.menu{

  display: flex;
  justify-content: flex-end;

}
.menu li{
  position: relative;
  padding: 10px;

}

.menu li a{
  height: 26px;
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 26px;
color: #F6F8FC;
padding: 50px;
}

.order{
background: #FFCA42;
border: 2px solid #FFCA42;

position: absolute;

font-family: 'Cardo';
font-weight: 400;
font-size: 20px;

cursor: pointer;

color: #1B3764;
}

.image{
  float: right;
  margin-top: 80px;
  margin-right: 80px;
}
.description{
  float: left;
}
.line{
  height: 2px;
  background: #FFCA42;
}


